<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <%- include('partials/head.html') %>
</head>

<body>
    <%- include('partials/navigation.html') %>

        <div class="container">
            <header class="row">
                <div class="col-lg-12 text-center">
                    <picture>
                        <img src="/img/random-logo-png-transparent.png" class="img-fluid animate__animated animate__bounceIn" alt="logo random">
                    </picture>
                </div>
            </header>
        </div>

        <h1>Hello World
            <%= 5 + 5 %>
        </h1>
        <h2>
            <%= new Date() %>
        </h2>
        <!-- SECTION ONE -->
        <div class="container-fluid" id="about">
            <div class="row bg-dark text-white p-5 text-center">
                <div class="col-sm-6">
                    <i class="fab fa-youtube fa-10x"></i>
                </div>
                <div class="col-sm-6">
                    <h3>The most suscribed Youtuber</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit eaque voluptates cum nulla illo! Deleniti tempore quisquam vel natus minima omnis repudiandae? Magnam illum cumque magni nulla error iste! Facere.</p>
                </div>
            </div>
        </div>

        <%- include('partials/footer.html')%>
</body>

</html>